.fondo {
    background-color: rgb(30, 28, 107);
}

.miTexto {
    font-size: 2.5em;
    color: hsl(0, 0%, 100%);
}

.miTexto2 {
    font-size: 85px;
    color: rgb(147, 146, 199);
}

body{
    background-color: hwb(0 0% 100% / 0.678);
}

.miTexto3 {
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

#principal{
    font-size: 50px;
}

.logo {
    width: 20em;
    height: 300px;
}

#titulos{
    border: 0.5em solid hsl(0, 0%, 93%);
    width: 45vw;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards {
    border: 2px solid black;
    width: fit-content;
    padding: 2em 2em 2em 2em;
    border-radius: 15%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    align-items: center;
}

.cards:hover{
    background-color: #cf2727;
}

#cards-container{
    background-color: #3e3bdfc5;
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 2px #ffffff;
    border-radius: 5%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
